html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --back: #EEEEEE;
  --all: #00ADB5;
  --btn: #AAE3E2;
  --text: #222831;
  --hov: #AC7DD2;
}

body {
  background-color: var(--back);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--all);
}

span,
p,
a,
li {
  color: var(--text);
}

/* -----------------------*/
/*------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.4em;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  font-size: 1.25rem;
}

.logo {
  margin-left: 1.05em;
}

.logo img {
  height: 2.25em;
}

.logo ul {
  display: flex;
  align-items: center;
}

.right {
  margin-right: 1.05em;
}

.right ul {
  display: flex;
  align-items: center;
}

.right ul li {
  margin: 0.625rem;
}

header ul li a:hover {
  color: var(--hov);
}

/*-----------container----------*/
.top {
  display: flex;
  justify-content: center;
}

.container {
  width: 80vw;
  /* position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; */
  display: flex;
  overflow: hidden;
  border: 1.25rem solid var(--back);
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}

.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.container .wrapper img {
  width: 100%;
  border-radius: 8px;
}

/*-----------middle----------*/
.places {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2em;
}

.col-1,
.col-2 {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 40%;
  height: 12.5em;
  padding: 1.25rem;
  border-radius: 1.25rem;
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #dadada,
    -5px -5px 6px #f6f6f6;
  display: flex;
  justify-content: space-between;
}

.card img {
  width: 50%;
}

.card .text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card .text h1 {
  text-decoration: underline;
  /* margin-bottom: 0.8em; */
}

/* .card .text p{} */
.card .text a {
  color: var(--hov);
  text-decoration: none;
}
.card .text a:hover{
  text-decoration: underline;
  color: var(--all);
}

/*-----------middle----------*/

/*-----------footer----------*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

/*-----------footer----------*/