/* class */
/* div.bottom
{
    padding-top: 100px;
} */
/* body{
    background-color: #f4effc;
} */
div.carousel slide carousel-fade{
     width: 1285px;
    margin: 0 auto;
}
div.middletrip{
    width: 1285px;
    margin: 0 auto;

}

#accordionFlushExample{
    width: 1285px;
    margin: 0 auto;
}
#slide{
    width: 1440px;
    margin: 0 auto;
    
}

/* id */

/* #slide{
    padding-bottom: 100px;
} */